@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: rgba(255, 251, 245, 0.308);
}

.wrapper{
    margin: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
}

.menu-open, .menu-close{
    display: none;
}

.logo{
    margin-left: 0;
}

.links{
    margin-right: 0;
}

.links a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.image-mobile{
    width: 100%;
}

.image-desktop{
    width: 100%;
}

.topic{
    font-size: 50px;
    font-weight: bold;
    margin-top: 15px;
}

.topic p{
    color: black;
}

.info p{
    font-size: 25px;
    color: black;
}

.info a{
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 10px;
    margin-top: 10px;
}


/* chnage something here on other screens */
.new{
    margin-top: 20px;
    border: 2px solid rgb(15, 15, 70);
    background-color: rgb(15, 15, 70);
    padding: 10px;
    width: 30%;
}

.new h1{
    font-size: 40px;
    color: blanchedalmond;
}

.new div, hr{
    margin-top: 50px;
}

.news h2, h3{
    color: azure;
}

h3{
    font-weight: lighter;
}

.one, .two, .three{
    display: flex;
    margin-top: 20px;
}

.one img, .two img, .three img{
    margin-left: 0;
}

span h1, h2, p{
    color: black;
}

.trending h1{
    color: rgba(162, 162, 162, 0.744);
}

.trending p{
    color: rgba(91, 91, 91, 0.897);
}


@media screen and (min-width: 320px) {
    .layout{
        margin-top: 10px;
    }

    .menu-open{
        display: block;
        margin-right: 0;
    }

    .links, .menu-close{
        display: none;
    }
    .links.show, .menu-close.show {
        display: block;
    }
    .menu-open.hide{
        display: none;
    }

    .logo{
        position: absolute;
        top: 0;
        margin-top: 10px;
    }

    .links a{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    .menu-close{
        position: absolute;
        left: 80%;
        top: 0;
        margin-top: 10px;
    }

    .links{
        margin-top: 30px;
    }

    .links{
        display: none;
    }

    .image-desktop{
        display: none;
    }

    .new{
        width: 100%;
        margin-top: 40px;
    }

    .trending img{
        width: 150px;
    }

    .trending{
        margin-top: 10px;
    }

    .trending span{
        margin: 20px;
    }

    .trending h1{
        font-size: 20px;
    }

    .trending h2{
        font-size: 15px;
    }

    .trending p{
        font-size: 12px;
    }

    .menu-close{
        position: absolute;
        left: 90%;
        top: 0;
        margin-top: 10px;
    }
}


@media screen and (min-height: 768px) {
    .layout{
        margin-top: 10px;
    }

    .menu-open{
        display: block;
        margin-right: 0;
    }

    .links{
        display: none;
    }

    .image-desktop{
        display: none;
    }

    .new{
        width: 100%;
        margin-top: 40px;
    }

    .trending{
        margin-top: 10px;
    }

    .trending span{
        margin: 20px;
        
    }

    .trending img{
        margin: 0;
    }

    .trending h1, h2, p{
        margin-top: 20px;
    }

    .trending h1{
        font-size: 50px;
    }

    .trending h2{
        font-size: 30px;
    }

    .trending p{
        font-size: 25px;
    }

    .new h1{
        font-size: 50px;
    }

    .news h2{
        font-size: 40px;
    }

    .news h3{
        font-size: 25px;
    }
}



@media screen and (min-width: 1024px) {
    .wrapper{
        padding: 30px;
    }

    .menu-open{
        display: none;
    }

    .links{
        display: flex;
        margin-top: 0;
    }

    .logo{
        position: absolute;
        top: 5%;
    }

    nav{
        display: flex;
    }

    .image-mobile{
        display: none;
    }

    .image-desktop{
        display: block;
        width: 63%;
        margin-left: 0;
    }

    .new, .topic, .info{
        width: 30%;
    }

    .new{
        position: absolute;
        left: 64%;
        top: 9%;
    }

    .topic{
        margin-left: 0;
    }

    .info{
        position: absolute;
        left: 33%;
        top: 50%;
    }

    .trending{
        display: flex;
        margin-top: 70px;
    }

    span h1,h2,p{
        margin-top: 10px;
    }

    .new div, hr{
        margin-top: 20px;
    }

    .trending img{
        width: 100px;
    }

    .trending h1{
        font-size: 25px;
    }

    .trending h2{
        font-size: 15px;
    }

    .trending p{
        font-size: 12px;
        font-weight: bold;
    }

    .one{
        margin-top: 30px;
    }

    .three{
        margin-top: 30px;
    }
}


@media screen and (min-width: 1440px) {
    .wrapper{
        padding: 30px;
    }

    .menu-open{
        display: none;
    }

    .links{
        display: block;
        font-size: 20px;
    }

    nav{
        display: flex;
    }

    .image-mobile{
        display: none;
    }

    .image-desktop{
        display: block;
        width: 63%;
        margin-left: 0;
    }

    .new, .topic, .info{
        width: 30%;
    }

    .new{
        position: absolute;
        left: 66%;
        top: 8%;
    }

    .topic{
        margin-left: 0;
    }

    .info{
        position: absolute;
        left: 33%;
        top: 60%;
    }

    .trending{
        display: flex;
        margin-top: 70px;
    }

    .new div, hr{
        margin-top: 28px;
    }

    .new h1{
        font-size: 30px;
    }

    .news h2{
        font-size: 30px;
    }

    .trending img{
        width: 150px;
    }

    .trending h1{
        font-size: 30px;
    }

    .trending h2{
        font-size: 20px;
    }

    .trending p{
        font-size: 15px;
        font-weight: bold;
    }

    .one{
        margin-top: 65px;
    }

    .three{
        margin-top: 65px;
        margin-left: 20px;
    }

    .two{
        margin-top: 57px;
    }
}