@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 9;
    box-sizing: border-box;
}

body{
    background-color: rgba(2, 2, 15, 0.936);
    font-family: 'Nunito', sans-serif;
}

.wrapper{
    margin: 20px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 80%;
    background-color: rgba(25, 30, 45, 0.854);
    border-radius: 20px;
}

.star{
    border: 1px solid rgb(40, 44, 57);
    border-radius: 50%;
    background-color: rgb(40, 44, 57);
    width: min-content;
    padding: 10px;
}

.rate-us{
    color: rgb(223, 223, 223);
    margin-top: 50px;
}

.rate-us p{
    margin-top: 20px;
}

.numbers{
    margin-top: 50px;
}

.numbers input{
    display: none;
}

.numbers label{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: rgb(40, 44, 57);
    color: rgb(205, 205, 205);
    margin: 5px;
    cursor: pointer;
}

.numbers label:hover{
    background-color: rgba(121, 121, 122, 0.769);
}

label.selected {   
    background-color: orange;
    color: black;
}

.numbers button{
    margin-top: 50px;
    width: 100%;
    padding: 10px;
    font-size: larger;
    border-radius: 50px 50px;
    text-transform: uppercase;
    background-color: orange;
    color: whitesmoke;
    cursor: pointer;
}

.numbers button:hover{
    background-color: whitesmoke;
    color: orange;
}

@media screen and (min-width: 1024px) {
    .wrapper{
        margin: 20px;
        padding: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6%;
        width: 40%;
        background-color: rgba(25, 30, 45, 0.854);
        border-radius: 20px;
    }

    .rate-us{
        font-size: larger;
    }
}